@import url( 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-weight: 500;
}

html, body, * {
    scroll-behavior: smooth !important;
    scroll-padding-top: 20px;
}

@layer base {
    body {
        @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide font-[Poppins]
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }

    h2 {
        @apply text-3xl sm:text-4xl;
    }

    li {
        @apply cursor-pointer
    }

    button {
        @apply shadow-xl shadow-gray-400 rounded-xl bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
    }
}
